{% extends "base.html" %}

{% block title %}Ajouts de nouveaux enregistrements d'employé{% endblock title %}

{% block content %}
<div class="col-md-12">
  <form method="POST" class="post-form" action="/updateEnter/{{enterprise.id}}">
    {% csrf_token %}
    <div class="container">
      <br>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <h3>Mettre à jour les détails</h3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Id:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="id" id="id_id" required maxlength="20"
            value="{{ enterprise.id }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nom enterprise:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="nameEnterprise" id="id_nameEnterprise" required maxlength="100"
            value="{{ enterprise.nameEnterprise }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" name="Email" id="id_Email" required maxlength="254"
            value="{{ enterprise.Email }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type enterprise:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="typeEntreprise" id="id_typeEntreprise" required maxlength="50"
            value="{{ enterprise.typeEntreprise }}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-success btn-lg">Mettre à jour</button>
        </div>
      </div>
    </div>
  </form>
  {% endblock content %}