{% extends "base.html" %}

{% block title %}Ajouts de nouveaux enregistrements d'Entreprise{% endblock title %}

{% block content %}
<div class="col-md-12">
  <form method="POST" class="post-form" action="/addnewEnter">
    {% csrf_token %}
    <div class="container">
      <br>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <h3>Entrez les détails</h3><br />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nom Entreprise:</label>
        <div class="col-sm-4">
          {{ form.nameEnterprise }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-4">
          {{ form.Email }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type Entreprise:</label>
        <div class="col-sm-4">
          {{ form.typeEntreprise }}
        </div>
        <br /><br /><br />
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}