{% extends "base.html" %}

{% block title %}Ajouts de nouveaux enregistrements d'employé{% endblock title %}

{% block content %}
<div class="col-md-12">
  <form method="POST" class="post-form" action="/addnew">
    {% csrf_token %}
    <div class="container">
      <br>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <h3>Entrez les détails</h3><br />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-4">
          {{ form.name }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-4">
          {{ form.email }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Contact:</label>
        <div class="col-sm-4">
          {{ form.contact }}
        </div>
        <br /><br /><br />
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Envoyer</button><br /><br />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-md-12"></div>
<h2>Les contrats des employées</h2>
<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%"><br />
    <thead>
      <th>ID</th>
      <th>Date-debut Contrat</th>
      <th>Date-Fin Contrat</th>
      <th>Id Employer</th>
      <th>Id Contrat</th>
      <th>Poste</th>
    </thead>
    <tbody>
      {% for SuiviContrat in suivicontrats %}
      <tr>
        <td>{{ SuiviContrat.id }}</td>
        <td>{{ SuiviContrat.dateDebut }}</td>
        <td>{{ SuiviContrat.dateFin }}</td>
        <td>{{ SuiviContrat.EmployeeName.id }}</td>
        <td>{{ SuiviContrat.NewContrat.id }}</td>
        <td>{{ SuiviContrat.Poste }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock content %}