{% extends "base.html" %}

{% block title %}Dossiers des Entreprises{% endblock title %}

{% block content %}
<br /><br />
<div class="col-md-12"><span><a href="/addnewEnter" class="btn btn-primary">Ajouts de nouveaux
            enregistrements</a></span>
    <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%"><br /><br />
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>ID</th>
                <th>Nom Entreprise</th>
                <th>Email</th>
                <th>Type Entreprise</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </thead>
            <tbody>
                {% for enterprise in enterprises %}
                <tr>
                    <td><input type="checkbox" class="checkthis" /></td><br />
                    <td>{{ enterprise.id }}</td>
                    <td>{{ enterprise.nameEnterprise }}</td>
                    <td>{{ enterprise.Email }}</td>
                    <td>{{ enterprise.typeEntreprise }}</td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Modifier"><a
                                href="/editEnter/{{ enterprise.id }}" class="btn btn-primary btn-xs" data-title="Edit"
                                data-toggle="modal" data-target="#edit"><span
                                    class="glyphicon glyphicon-pencil"></span></a></p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Supprimer"><a
                                href="/deleteEnter/{{ enterprise.id }}"
                                onclick="return confirm('Êtes-vous sûrs de vouloir supprimer cet élément?')"
                                class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                data-target="#delete"><span class="glyphicon glyphicon-trash"></span></a></p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock content %}