{% extends "base.html" %}

{% block title %}Dossiers des Entreprises{% endblock title %}

{% block content %}
<br /><br />
<div class="col-md-12"><span><a href="/addnewEnter" class="btn btn-primary">Ajouts de nouveaux
      enregistrements</a></span>
  <div class="col-md-12"></div>
  <h2>Les contrats des employées</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%"><br />
      <thead>
        <th>ID</th>
        <th>Date-debut Contrat</th>
        <th>Date-Fin Contrat</th>
        <th>Id Employer</th>
        <th>Id Contrat</th>
        <th>Poste</th>
      </thead>
      <tbody>
        {% for SuiviContrat in suivicontrats %}
        <tr>
          <td>{{ SuiviContrat.id }}</td>
          <td>{{ SuiviContrat.dateDebut }}</td>
          <td>{{ SuiviContrat.dateFin }}</td>
          <td>{{ SuiviContrat.EmployeeName.id }}</td>
          <td>{{ SuiviContrat.NewContrat.id }}</td>
          <td>{{ SuiviContrat.Poste }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock content %}